
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/NotoSansKR-Thin.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/NotoSansKR-Light.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/NotoSansKR-Regular.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/NotoSansKR-Medium.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/NotoSansKR-Bold.otf);
}
@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/NotoSansKR-Black.otf);
}

::-webkit-input-placeholder, ::-moz-placeholder, :-ms-input-placeholder, :-moz-placeholder {
  color: #333;
}


/* Reset */
html,body{
  margin:0;
  padding:0;
}

body{
  font: 16px;
  line-height: 1.3;
  font-family:'NotoSansKR';
  font-weight: 300;
  color: #333;
}
html,body{
  margin:0;
  padding:0;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, input, label, textarea,video{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
section, article, aside, hgroup, header, footer, nav, figure, figcaption, time, mark, canvas, video, audio, details, summary{
  display:block;
}
dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,tbody,tfoot,thead,th,td{
  margin:0;
  padding:0;
}
input,textarea,select,td,th, button{
  font:16px;
  vertical-align:middle;
}
select{
  padding-left:20px;
  height:50px;
  border-radius:0;
  border:1px solid #333;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
}
select::-ms-expand{
  display:none;
}
h1,h2,h3,h4,h5,h6{
  font-weight:normal;
  font-size:100%;
}
table{
  width:100%;
  table-layout:fixed;
  border-spacing:0;
  border-collapse:collapse;
}
ol,ul,li{
  list-style:none;
}
img,fieldset{
  border:0;
}
img{
  vertical-align:top;
}
button{
  cursor:pointer;
  border:0;
}
address{
  font-style:normal;
}
a{
  text-decoration:none;
  outline:0;
  display:inline-block;
  font:16px;
  vertical-align:top;
}
a:hover,a:focus{
  text-decoration:none;
  outline:0;
}
